.easyalert_logo {
    font-family:'Lobster', cursive;
}

.easyalert_footer {
    text-align:center; font-size: .9rem; 
}

.easyalert_footer_button {
    text-align:center; margin-top: 2rem;
}

.easyalert_header {
    text-align:center; margin: 2rem 0;
}