.easyalert_logo {
    font-family:'Lobster', cursive;
}

.easyalert_footer {
    text-align:center; font-size: 1.2rem;
}

.easyalert_footer_button {
    text-align:center; margin-top: 2rem;
}

.easyalert_header {
    text-align:center; margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}